source https://ci.appveyor.com/nuget/fscheck
source https://www.nuget.org/api/v2/

nuget FSharp.Core redirects: force
nuget FParsec
nuget FSharp.Compiler.Service

group Build
  source https://nuget.org/api/v2
  
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget Fuchu
  nuget Unquote